@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
*{
  padding: 0;
  margin: 0;
}
#myVideo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 120vh;
    object-fit: cover;

}
#video-ayato{
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  display: none;
  z-index: 2;
  opacity: 0.5;
  -webkit-animation-name: runVideo;
  -webkit-animation-duration: 1s;
}
#video-zhongli{
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  display: none;
  z-index: 2;
  opacity: 0.5;
  -webkit-animation-name: runVideo;
  -webkit-animation-duration: 1s;
}
@keyframes runVideo {
  0% {
    opacity: 0;;
  }
  100% {
    opacity: 0.5;
   }
}
@keyframes runText {
  0% {
    opacity: 0;
    bottom:40%
  }
  100% {
    opacity: 0.5;
    bottom:50%;
   }
}
#img_ayato_home{
  position: relative;
  width: 100%;
  height: 100%;
  /*max-width: 100%;*/
  object-fit: cover;
  z-index: 1;
  display: block;
}
#img_kaeya_home{
  position: relative;
  width: 100%;
  height: 100%;
  /*max-width: 100%;*/
  object-fit: cover;
  z-index: 1;
  display: block;
}
#img_zhongli_home{
  position: relative;
  width: 100%;
  height: 100%;
  /*max-width: 100%;*/
  object-fit: cover;
  z-index: 1;
  display: block;
}
#zhongli_info{
  position: relative;
  bottom:50%;
  font-family: Open Sans;
  color: white;
  font-size: 4vw;
  z-index: 3;
  display: none;
  -webkit-animation-name: runText;
  -webkit-animation-duration: 1s;
}
#ayato_info{
  position: relative;
  bottom:50%;
  font-family: Open Sans;
  color: white;
  font-size: 4vw;
  z-index: 3;
  display: none;
  -webkit-animation-name: runText;
  -webkit-animation-duration: 1s;
}
#img_diluc_home{
  position: relative;
  width: 100%;
  height: 100%;
  /*max-width: 100%;*/
  object-fit: cover;
  z-index: 1;
  display: block;
}
#diluc:hover{
  background-color: black;
  transition: 0.7s;
}
#ayato{
  margin-top: 0;
  transition: 1s;
}
#zhongli{
  margin-top: 0;
  transition: 1s;
}

/*Ayato*/
#ayato:hover #video-ayato{
  display:block;
  z-index: 1;
}
#ayato:hover #img_ayato_home{
  display:none;
}
#ayato:hover #ayato_info{
  display:block;
}

/*Zhongli*/
#zhongli:hover #video-zhongli{
  display:block;
  z-index: 1;
}
#zhongli:hover #zhongli_info{
  display:block;
}
#zhongli:hover #img_zhongli_home{
  display:none;
}
#button{
  position: fixed;
  top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: white;
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section:nth-child(1){
  color: black;
  }
section:nth-child(2){
  color: #42455a;
  background: black;
}
section:nth-child(3){
  color: black;
}
section:nth-child(4){
  color: #42455a;
  background: black;
}
section .container{
  margin-top: 800px;
  margin-right: 0;
  margin-left: 0;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 0;
  padding: 0;
  height: 100vh;
  width:25%;
  box-shadow: 0px 0px 0px 1px white;
  background: black;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
