@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Ubuntu:wght@700&display=swap');
body{
  background: #2c3e50;
}
nav{
  position: relative;
  margin: 20px auto 0;
  width: 590px;
  height: 50px;
  background: #34495e;
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}
nav a{
  font-size: 15px;
  text-transform: uppercase;
  font-family: Ubuntu;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}
nav .animation{
  position: absolute;
  height: 5px;
  bottom: 0;
  z-index: 0;
  background: #1abc9c;
  border-radius: 8px;
  transition: all .5s ease 0s;
}
a:nth-child(1){
  width: 100px;
}
nav .start-arataki, a:nth-child(1):hover~.animation{
  width: 100px;
  left: 0;
}
a:nth-child(2){
  width: 110px;
}
nav .start-diluc, a:nth-child(2):hover~.animation{
  width: 110px;
  left: 100px;
}
a:nth-child(3){
  width: 100px;
}
nav .start-keya, a:nth-child(3):hover~.animation{
  width: 100px;
  left: 210px;
}
a:nth-child(4){
  width: 160px;
}
nav .start-ayato, a:nth-child(4):hover~.animation{
  width: 160px;
  left: 310px;
}
a:nth-child(5){
  width: 120px;
}
nav .start-zhongli, a:nth-child(5):hover~.animation{
  width: 120px;
  left: 470px;
}
#img-Arataki{
  position: absolute;
  top: 100px;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
}
#img-Diluc{
  position: absolute;
  top: 100px;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
}
#img-Keya{
  position: absolute;
  top: 100px;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
}
#img-Ayato{
  position: absolute;
  top: 100px;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
}
#img-Zhongli{
  position: absolute;
  top: 100px;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
}
@keyframes run {
  0% {
    opacity: 0.2;
    left: -400px;
  }
  100% {
    opacity: 1.0;
    left: 200px;
   }
}
#info_itto{
  position: absolute;
  top: 100px;
  left: -300px;
  width: 400px;
  color: white;
  font-size: 28px;
  font-family: Ubuntu;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#info_diluc{
  position: absolute;
  top: 100px;
  left: -300px;
  width: 400px;
  color: white;
  font-size: 28px;
  font-family: Ubuntu;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#info_zhongli{
  position: absolute;
  top: 100px;
  left: -300px;
  width: 400px;
  color: white;
  font-size: 28px;
  font-family: Ubuntu;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#info_ayato{
  position: absolute;
  top: 100px;
  left: -300px;
  width: 400px;
  color: white;
  font-size: 28px;
  font-family: Ubuntu;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#info_keya{
  position: absolute;
  top: 100px;
  left: -300px;
  width: 400px;
  color: white;
  font-size: 28px;
  font-family: Ubuntu;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
@keyframes run_info {
  0% {
    opacity: 0.2;
    left: -400px;
  }
  100% {
    opacity: 1.0;
    left: -300px;
   }
}
#normal_attack_diluc{
  position: absolute;
  margin-top: 200px;
  left: -300px;
  width: 100%;
  height: 1200px;
  opacity: 0;
}
#charged_attack_diluc{
  position: absolute;
  margin-top: 600px;
  left: -300px;
  opacity: 0;
}
#charged_img_diluc{
  width: 480px;
  height: 270px;
}
#elemental_skills_diluc{
  position: absolute;
  margin-top: 1000px;
  left: -300px;
  opacity: 0;
}
#elemental_img_diluc{
  width: 480px;
  height: 270px;
}
#ultimate_diluc{
  position: absolute;
  height: 400px;
  margin-top: 1400px;
  left: -300px;
  opacity: 0;
}
#ultimate_img_diluc{
  width: 480px;
  height: 270px;
}
#talant1_diluc{
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant2_diluc{
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant3_diluc{
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant4_diluc{
  position: absolute;
  margin-left: 100px;
  width: 450px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}

#normal_attack_itto{
  position: absolute;
  margin-top: 200px;
  left: -300px;
  width: 100%;
  height: 1200px;
  opacity: 0;
}
#charged_attack_itto{
  position: absolute;
  margin-top: 600px;
  left: -300px;
  opacity: 0;
}
#charged_img_itto{
  width: 480px;
  height: 270px;
}
#normal_img_itto{
  width: 480px;
  height: 270px;
}
#elemental_skills_itto{
  position: absolute;
  margin-top: 1000px;
  left: -300px;
  opacity: 0;
}
#elemental_img_itto{
  width: 480px;
  height: 270px;
}
#ultimate_itto{
  position: absolute;
  height: 500px;
  margin-top: 1700px;
  left: -300px;
  opacity: 0;
}
#ultimate_img_itto{
  width: 480px;
  height: 270px;
}
#talant1_itto{
  position: absolute;
  margin-left: 100px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant2_itto{
  position: absolute;
  margin-left: 100px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant3_itto{
  position: absolute;
  margin-left: 100px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant4_itto{
  position: absolute;
  margin-left: 100px;
  width: 450px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
