@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Shadow&family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background-image:url(img/background/back_mond.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
  overflow-x:hidden;
}
#blur_form{
  top:0;
  left:0;
  position: fixed;
  height: 1080px;
  width: 1920px;
  backdrop-filter: blur(5px);
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  z-index: 11;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
  z-index: 11;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.transform-left{
  animation: transform-left 1s ease-in-out;
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes transform-left {
  0% {
    transform: translateX(100vw);
    width:0;
  }
  100% {
    transform: translateX(0));
    width:100vw;
  }
}
nav{
  position: relative;
  margin: 5px auto 0;
  width: 590px;
  height: 50px;
  background: #34495e;
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
  z-index: 2;
}
nav a{
  font-size: 15px;
  text-transform: uppercase;
  font-family: Ubuntu;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 2;
  display: inline-block;
  text-align: center;
}
nav .animation{
  position: absolute;
  height: 5px;
  bottom: 0;
  z-index: 1;
  background: #1abc9c;
  border-radius: 8px;
  transition: all .5s ease 0s;
}
a:nth-child(1){
  width: 100px;
}
nav .start-arataki, a:nth-child(1):hover~.animation{
  width: 100px;
  left: 0;
}
a:nth-child(2){
  width: 110px;
}
nav .start-diluc, a:nth-child(2):hover~.animation{
  width: 110px;
  left: 100px;
}
a:nth-child(3){
  width: 100px;
}
nav .start-keya, a:nth-child(3):hover~.animation{
  width: 100px;
  left: 210px;
}
a:nth-child(4){
  width: 160px;
}
nav .start-ayato, a:nth-child(4):hover~.animation{
  width: 160px;
  left: 310px;
}
a:nth-child(5){
  width: 120px;
}
nav .start-zhongli, a:nth-child(5):hover~.animation{
  width: 120px;
  left: 470px;
}
#img-Arataki{
  position: absolute;
  top: 100px;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
}
#img-Diluc{
  position: absolute;
  top: 20px;
  display: none;
  z-index: 2;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run-keya;
  -webkit-animation-duration: 1s;
}
#img_diluc_size{
  margin-left: 100px;
  width: 900px;
  height: 920px;
}
#img-Keya{
  position: absolute;
  top: 0;
  width:  70%;
  height: 70%;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run-keya;
  -webkit-animation-duration: 1s;
}
#img_keya_size{
  /*width:  270%;
  height: 270%;*/
  margin-left: -200px;
}
#img-Ayato{
  position: absolute;
  top: 100px;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
}
#img-Zhongli{
  position: absolute;
  top: 100px;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
}
@keyframes run {
  0% {
    opacity: 0.2;
    left: -400px;
  }
  100% {
    opacity: 1.0;
    left: 200px;
   }
}
@keyframes run-keya {
  0% {
    opacity: 0.2;
    left: -400px;
  }
  100% {
    opacity: 1.0;
    left: -100px;
   }
}
#parallelogram_1{
  position: fixed;
  width: 900px;
	height: 720px;
  top: 0;
  left: 200px;
	transform: skew(160deg);
	opacity: 0.7;
  z-index: 1;
}
#parallelogram_2{
  position: fixed;
  width: 500px;
	height: 720px;
  top: 0;
  left: 1500px;
	transform: skew(160deg);
  background: red;
	opacity: 0.7;
  z-index: 1;
}
#parallelogram_3{
  position: fixed;
  width: 30px;
	height: 300px;
  top: 0;
  left: 210px;
	transform: skew(160deg);
  background: red;
	opacity: 0.7;
  z-index: 1;
}
#parallelogram_4{
  position: fixed;
  width: 30px;
	height: 550px;
  top: 250px;
  left: 1120px;
	transform: skew(160deg);
  background: red;
	opacity: 0.7;
  z-index: 1;
}
#info_itto{
  position: absolute;
  top: 100px;
  margin-left: 50px;
  width: 400px;
  color: white;
  font-size: 28px;
  font-family: Ubuntu;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#name_diluc{
  position: absolute;
  top: 100px;
  margin-left: 50px;
  width: 1000px;
  color: white;
  font-size: 180px;
  font-family:Bebas Neue;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#name_diluc_black{
  position: absolute;
  top: 120px;
  margin-left: 60px;
  width: 1000px;
  color: black;
  font-size: 180px;
  font-family:Bebas Neue;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#name_diluc_jap_black{
  position: absolute;
  top: 290px;
  margin-left: -200px;
  width: 1000px;
  color: black;
  font-size: 60px;
  font-family:Noto Sans JP;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#name_diluc_jap_white{
  position: absolute;
  top: 0;
  margin-left: 1200px;
  width: 130px;
  color: black;
  background-color: #B82D28;
  font-size: 130px;
  font-family:BIZ UDGothic;
  text-align: center;
  z-index: 2;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#name_diluc_jap_white_shadow{
  position: absolute;
  top: 5px;
  margin-left: 1205px;
  width: 130px;
  color: white;
  font-size: 130px;
  font-family:BIZ UDGothic;
  text-align: center;
  z-index: 2;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#diluc_desc_talants1{
  position: absolute;
  top: 10px;
  margin-left:-165px;
  width: 300px;
  color: black;
  background-color: #B82D28;
  font-size: 30px;
  font-family:Bebas Neue;
  text-align: left;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#diluc_desc_talants2{
  position: absolute;
  margin-top: 10px;
  margin-left:-165px;
  width: 300px;
  color: black;
  background-color: #B82D28;
  font-size: 30px;
  font-family:Bebas Neue;
  text-align: left;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#info_diluc{
  position: absolute;
  top: 400px;
  margin-left: 50px;
  width: 700px;
  color: white;
  font-size: 32px;
  font-family:Bebas Neue;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#info_zhongli{
  position: absolute;
  top: 100px;
  margin-left: 50px;
  width: 400px;
  color: white;
  font-size: 28px;
  font-family: Ubuntu;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#info_ayato{
  position: absolute;
  top: 100px;
  margin-left: 50px;
  width: 400px;
  color: white;
  font-size: 28px;
  font-family: Ubuntu;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
#info_keya{
  position: absolute;
  top: 100px;
  margin-left: 50px;
  width: 400px;
  color: white;
  font-size: 28px;
  font-family: Ubuntu;
  text-align: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-name: run_info;
  -webkit-animation-duration: 1s;
}
@keyframes run_info {
  0% {
    opacity: 0.2;
    left: -400px;
  }
  100% {
    opacity: 1.0;
    left: -300px;
   }
}
#back_scroll{
  position: fixed;
  background-color:#1B1B1B;
  margin-top: 800px;
  right:0;
  left:0;
  width:auto;
  height: 800px;
  z-index: 3;
  padding-top: 200px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*#back_scroll_img{
  width: 100%;
  height: 115%;
}*/
#decor_header_diluc_skin{
  position: fixed;
  right:660px;
  top:850px;
  color: white;
  font-size: 160px;
  font-family:BIZ UDGothic;
  z-index: 4;
  opacity:0.3;
  padding: 5px;
}
#back_scroll_build{
  background-color: #1B1B1B;
  position: absolute;
  margin-top: 1920px;
  right:0;
  left:0;
  width:auto;
  height: 800px;
  z-index: 2;
  display: flex;
  justify-content: center;
}
#back_build{
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.3;
}
/*#back_opacity_diluc_build{
  position: fixed;
  min-width: 60%;
	min-height: 60%;
  left: 290px;
  margin-top: -460px;
	transform: rotate(-55deg);
  opacity: 0.1;
  z-index: 10;
}
#build_parallelogram_1{
  position: fixed;
  background-color: #942d26;
  width: 900px;
	height: 270px;
  right: -400px;
  margin-top: -50px;
	transform: rotate(35deg);
  z-index: 10;
}
#build_parallelogram_2{
  position: fixed;
  background-color: #942d26;
  width: 900px;
	height: 270px;
  left:-300px;
  margin-top:620px;
	transform: rotate(35deg);
  z-index: 10;
}*/
#cards{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
#card1{
  position: relative;
  padding: 0;
  width: 304px;
	height: 473px;
  z-index: 10;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
  transition: 0.5s;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
#card2{
  position: relative;
  padding: 0;
  width: 304px;
	height: 473px;
  z-index: 10;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
  transition: 0.5s;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
#card3{
  position: relative;
  padding: 0;
  width: 304px;
	height: 473px;
  z-index: 10;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
  transition: 0.5s;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
#back_ava_build{
  transition: 0.5s;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100%;
  /*max-width: 100%;*/
  object-fit: cover;
}
#card2:hover{
  box-shadow: 0px 0px 10px 1px white;
  margin-top: 110px;
}
#card2:hover #story_card2_1{
  transform: translate(-15px, -25px);
}
#card2:hover #story_card2_2{
  transform: translate(18px, -52px);
}
#story_card2_1{
  position: absolute;
  margin-top: 90%;
  /*margin-left: -50%;*/
  transform: translate(0, -50%);
  color: red;
  font-size: 5vw;
  font-family: Open Sans;
  z-index: 12;
  transition: 0.5s;
}
#story_card2_2{
  position: absolute;
  margin-top: 90%;
  /*margin-left: -50%;*/
  transform: translate(0, -50%);
  color: white;
  font-size: 5vw;
  font-family: Open Sans;
  z-index: 12;
  transition: 0.5s;
}
#back_story{
  background-color: #1B1B1B;
  position: fixed;
  margin-top: 2720px;
  right:0;
  left:0;
  width:auto;
  height: 400vh;
  z-index: 12;
  display: flex;
  justify-content: center;
  text-align: center;
}
#img_back_story1{
  position: fixed;
  margin-top: 0;
  right:0;
  left:0;
  width:100%;
  opacity:0.1;
}
#red_sq1{
  position: fixed;
  margin-top: 20px;
  /*left: 100px;*/
  right: 240px;
  width:200px;
  height: 200px;
  background-color: #470c0e;
  transition: 0.5s;
}
#img_story1_1{
  position: fixed;
  margin-top: 50px;
  /*left: 100px;*/
  right: 300px;
  width: 350px;
  height: auto;
  transition: 0.5s;
}
#img_story1_2{
  position: fixed;
  margin-top: 350px;
  /*left: 360px;*/
  right: 100px;
  width: 300px;
  height: auto;
  transition: 0.5s;
}
#border_1{
  position: fixed;
  /*left: 170px;*/
  right: 170px;
  margin-top: 70px;
  width: 400px;
  height: 540px;
  border-width: 4px;
  border-color: white;
  /*display: inline-block;*/
  border-style: solid;
  z-index: 13;
  pointer-events : none;
}
#img_story1_1:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#img_story1_2:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#story1_text h2{
  margin-top: 100px;
  position: fixed;
  color: white;
  font-size: 84px;
  font-family: Open Sans;
  left: 400px;
}
#story1_text h3{
  margin-top: 330px;
  position: fixed;
  color: white;
  font-size: 18px;
  width: 700px;
  font-family: Poppins;
  right: -700px;
}
#line1{
  position: fixed;
  margin-top: 260px;
  width:500px;
  height: 5px;
  right: -600px;
  background-color: white;
}
#back_story2{
  margin-top: 720px;
}
#img_back_story2{
  position: fixed;
  margin-top: 80px;
  right:0;
  left:0;
  width:100%;
  opacity:0.1;
}
#img_story2_1{
  position: fixed;
  margin-top: 150px;
  /*left: 100px;*/
  left: 320px;
  width: 350px;
  height: auto;
  transition: 0.5s;
}
#img_story2_2{
  position: fixed;
  margin-top: 270px;
  /*left: 100px;*/
  left: 120px;
  width: 320px;
  height: auto;
  transition: 0.5s;
}
#border_2{
  position: fixed;
  /*left: 170px;*/
  left: 200px;
  margin-top: 170px;
  width: 400px;
  height: 600px;
  border-width: 4px;
  border-color: white;
  /*display: inline-block;*/
  border-style: solid;
  z-index: 13;
  pointer-events : none;
}
#img_story2_1:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#img_story2_2:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#red_sq2{
  position: fixed;
  margin-top: 240px;
  /*left: 100px;*/
  left: 80px;
  width:400px;
  height: 500px;
  background-color: #470c0e;
  transition: 0.5s;
}
#story2_text h2{
  margin-top: 200px;
  position: fixed;
  color: white;
  font-size: 84px;
  font-family: Open Sans;
  right: 300px;
}
#story2_text h3{
  margin-top: 400px;
  position: fixed;
  color: white;
  font-size: 18px;
  width: 700px;
  font-family: Poppins;
  right: -50px;
}
#line2{
  position: fixed;
  margin-top: 350px;
  width:500px;
  height: 5px;
  right:0;
  background-color: white;
}
#back_story3{
  margin-top: 1440px;
}
#img_back_story3{
  position: fixed;
  margin-top: 200px;
  right:0;
  left:0;
  width:100%;
  opacity:0.1;
}
#red_sq3{
  position: fixed;
  margin-top: 220px;
  /*left: 100px;*/
  right: 300px;
  width:200px;
  height: 200px;
  background-color: #470c0e;
  transition: 0.5s;
}
#img_story3_2{
  position: fixed;
  margin-top: 310px;
  /*left: 100px;*/
  right: 250px;
  width: 370px;
  height: auto;
  transition: 0.5s;
}
#img_story3_1{
  position: fixed;
  margin-top: 250px;
  /*left: 100px;*/
  right: 150px;
  width: 280px;
  height: auto;
  transition: 0.5s;
}
#img_story3_2:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#img_story3_1:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#border_3{
  position: fixed;
  /*left: 170px;*/
  right: 90px;
  margin-top: 330px;
  width: 360px;
  height: 510px;
  border-width: 4px;
  border-color: white;
  /*display: inline-block;*/
  border-style: solid;
  z-index: 13;
  pointer-events : none;
}
#story3_text h2{
  margin-top: 250px;
  position: fixed;
  color: white;
  font-size: 84px;
  font-family: Open Sans;
  left: 400px;
}
#story3_text h3{
  margin-top: 430px;
  position: fixed;
  color: white;
  font-size: 18px;
  width: 700px;
  font-family: Poppins;
  right: -700px;
}
#line3{
  position: fixed;
  margin-top: 400px;
  width:500px;
  height: 5px;
  right: -600px;
  background-color: white;
}

#normal_attack_diluc{
  position: absolute;
  margin-top: 200px;
  left: -400px;
  width: 100%;
  height: 1200px;
  /*opacity: 0;*/
}
#charged_attack_diluc{
  position: absolute;
  margin-top: 600px;
  left: -400px;
  /*opacity: 0;*/
}
#charged_img_diluc{
  width: 480px;
  height: 270px;
}
#elemental_skills_diluc{
  position: absolute;
  margin-top: 1000px;
  left: -400px;
  /*opacity: 0;*/
}
#elemental_img_diluc{
  width: 480px;
  height: 270px;
}
#ultimate_diluc{
  position: absolute;
  height: 400px;
  margin-top: 1400px;
  left: -400px;
  /*opacity: 0;*/
}
#ultimate_img_diluc{
  width: 480px;
  height: 270px;
}
#talant1_diluc{
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant2_diluc{
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant3_diluc{
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant4_diluc{
  position: absolute;
  margin-left: 100px;
  width: 450px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}

#normal_attack_itto{
  position: absolute;
  margin-top: 200px;
  left: -400px;
  width: 100%;
  height: 1200px;
  opacity: 0;
}
#charged_attack_itto{
  position: absolute;
  margin-top: 600px;
  left: -400px;
  opacity: 0;
}
#charged_img_itto{
  width: 480px;
  height: 270px;
}
#normal_img_itto{
  width: 480px;
  height: 270px;
}
#elemental_skills_itto{
  position: absolute;
  margin-top: 1000px;
  left: -400px;
  opacity: 0;
}
#elemental_img_itto{
  width: 480px;
  height: 270px;
}
#ultimate_itto{
  position: absolute;
  height: 500px;
  margin-top: 1700px;
  left: -400px;
  opacity: 0;
}
#ultimate_img_itto{
  width: 480px;
  height: 270px;
}
#talant1_itto{
  position: absolute;
  margin-left: 100px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant2_itto{
  position: absolute;
  margin-left: 100px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant3_itto{
  position: absolute;
  margin-left: 100px;
  width: 400px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
#talant4_itto{
  position: absolute;
  margin-left: 100px;
  width: 450px;
  color: white;
  font-size: 21px;
  font-family: Ubuntu;
  text-align: center;
}
